@inherits LayoutComponentBase

<header>
    <NavLink href="">
        <h1>Spendy</h1>
    </NavLink>
    <nav>
        <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink href="/dashboard" Match="NavLinkMatch.All">Dashboard</NavLink>
    </nav>
</header>

<section class="main">
    @Body
</section>
