ACTUAL_SERVER_URL=''
ACTUAL_PASSWORD=''
ACTUAL_BUDGET_ID=''
ACTUAL_ENCRYPTION_PASSWORD=''
ACTUAL_DATA_DIR='./actual-data/'
SPENDY_DB_PATH='../Spendy/AppData/Spendy-Sqlite.db'
NODE_TLS_REJECT_UNAUTHORIZED=0
