@page "/"


<div class="year-progress">
    <h2>Year Progress</h2>
    <div class="graph-container">
        @{ var styleAttr = $"width: {yearProgress};"; }
        <div class="percentage" style=@styleAttr></div>
    </div>
    <span class="label">@yearProgress</span>
</div>


@code {
    private string yearProgress;

    protected override void OnInitialized()
    {
        var now = DateTime.Now;
        var start = new DateTime(now.Year, 1, 1);
        var numberOfDays = (now - start).TotalDays;

        yearProgress = $"{Math.Floor(numberOfDays / 365 * 100)}%";
    }
}