@page "/truelayer/oauth"

@inject NavigationManager _navigationManager
@inject AuthService _authService
@using Microsoft.AspNetCore.WebUtilities

<h3>TrueLayer Oauth Callback</h3>

<div>Please wait while we redirect you...</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        var uri = _navigationManager.ToAbsoluteUri(_navigationManager.Uri);

        var query = QueryHelpers.ParseQuery(uri.Query);
        if (query.TryGetValue("code", out var code))
        {
            await _authService.GenerateAccessTokenAsync(code);

            _navigationManager.NavigateTo("/dashboard");
        }
    }
}
